{% extends "base.html" %}
{% block body_class %}main-layout inner_posituong{% endblock %}
{% load static %}
{% block title %}Sign in{% endblock title %}
{% block content %}
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Sign in</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                <form id="request" class="main_form">
                    {% csrf_token %}
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="email" name="email" id="email_input" required> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Password" type="password" name="password" id="password_input" required>                          
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn" type="submit">Sign in</button>
                        </div>
                        <div class="col-md-12 text-center mt-3"> <!-- Centered text under the button with margin top -->
                           <p style="color: white;">Don't have an account? <a href="{% url "accounts:user_register" %}" style="color: #48ca95;">Sign up</a></p> 
                     </div>
                  </form>
                
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
       <!-- Javascript files-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
  <!-- sidebar -->
  <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <script>
   document.addEventListener('DOMContentLoaded', function() {
     const form = document.getElementById("request");
 
     form.addEventListener("submit", function(event) {
       event.preventDefault();
       getToken();
       fetchData(); 
     });
 
     function getToken() {
       const email = document.getElementById("email_input").value;
       const password = document.getElementById("password_input").value;
 
       fetch("http://127.0.0.1:8000/auth/jwt/create/", {
         method: 'POST',
         headers: {
           "Content-Type": "application/json"
         },
         body: JSON.stringify({
           email: email,
           password: password
         })
       })
       .then(response => response.json())
       .then(data => {
         localStorage.setItem("access_token", data.access);
         localStorage.setItem("refresh_token", data.refresh);
         if (document.referrer == 'http://127.0.0.1:8000/accounts/verify/') {
            alert('You logged in successfully');
            window.location.href = '/';
         }
         else {
            alert('You logged in successfully');
            window.location.href = document.referrer; 
         }
       })
       .catch(error => {
         console.error('Error:', error);
       });
     }
   });

 </script>
 
 
   {% endblock content %}  

   