{% extends "base.html" %}
{% block body_class %}main-layout inner_posituong{% endblock %}
{% load static %}
{% block title %}Sign in{% endblock title %}
{% block content %}
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Sign up</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <form id="myForm" class="main_form" action="#" method="post">
                     <div class="row">
                        <div class="col-md-12">
                            <input class="contactus" id="first_name" placeholder="First name" type="text" name="first_name" required> 
                         </div>
                         <div class="col-md-12">
                            <input class="contactus" id="last_name" placeholder="Last name" type="text" name="last_name" required> 
                         </div>
                         <div class="col-md-12">
                            <input class="contactus" id="phone_number" placeholder="Phone number" type="text" name="phone_number" maxlength="11" required> 
                         </div>
                        <div class="col-md-12">
                           <input class="contactus" id="email" placeholder="Email" type="email" name="email" required> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" id="password" placeholder="Password" type="password" name="password" required>                          
                        </div>
                        <div class="col-md-12">
                           <button onclick="registerFunc()" class="send_btn">Sign up</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
       <!-- Javascript files-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
  <!-- sidebar -->
  <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <script>
   document.getElementById("myForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent default form submission
  
      // Call the registerFunc() function to handle form submission
      registerFunc();
  });
  
  function registerFunc() {
      var first_name = document.getElementById("first_name").value;
      var last_name = document.getElementById("last_name").value;
      var phone_number = document.getElementById("phone_number").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
  
      fetch("/accounts/register/api/v1/", {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              first_name: first_name,
              last_name: last_name,
              phone_number: phone_number,
              email: email,
              password: password,
          })
      })
      .then(data => {
          alert('We sent to your email an OTP code');
          window.location.href = '/accounts/verify/';
      })
      .catch(error => {
          console.error('Error:', error); 
          alert(error);
          window.location.reload();
      });
  }
  
  </script>
  
   {% endblock content %}