{% extends "base.html" %}
{% block body_class %}main-layout inner_posituong{% endblock %}
{% load static %}
{% block title %}Sign in{% endblock title %}
{% block content %}
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Enter the code</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <form id="myForm" class="main_form" method="post" action="#">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Code" type="type" name="code" id="code" required>
                           <div style="color:white;">Time left = <span id="timer"></span></div> 
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Send </button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
       <!-- Javascript files-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
  <!-- sidebar -->
  <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <script>
   document.getElementById("myForm").addEventListener("submit", function(event) {
       event.preventDefault(); 
       verifyFunc();
   });

   function verifyFunc() {
       var code = document.getElementById('code').value;

       fetch("/accounts/verify/api/v1/", {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json'
           },
           body: JSON.stringify({
               code: code
           })
       })
       .then(response => {
           if (!response.ok) {
               throw new Error('Failed to verify code');
           }
           return response.json();
       })
       .then(data => {
           if (data.message) {
               alert(data.message);
           }

           if (data.redirect_url) {
               window.location.href = data.redirect_url;
           }
       })
       .catch(error => {
           alert("Error occurred: " + error.message);
       });
   }

   let timerOn = true;

   function timer(remaining) {
       var m = Math.floor(remaining / 60);
       var s = remaining % 60;

       m = m < 10 ? '0' + m : m;
       s = s < 10 ? '0' + s : s;
       document.getElementById('timer').innerHTML = m + ':' + s;
       remaining -= 1;

       if(remaining >= 0 && timerOn) {
           setTimeout(function() {
               timer(remaining);
           }, 1000);
           return;
       }

       if(!timerOn) {
           return;
       }

       alert('Timeout for OTP');
       window.location.href = '/accounts/register/';
   }

   timer(180); 
</script>



   {% endblock content %} 