{% extends "base.html" %}
{% block body_class %}main-layout inner_posituong{% endblock %}
{% load static %}
{% block title %}products{% endblock title %}
{% block navbar_search %}
<!-- Search bar -->
<form class="d-flex" action="" method="get">
    <input type="search" id="gsearch" name="search" value="{{ request.GET.search|default_if_none:'' }}" placeholder="Search"> 
    <button class="btn btn-outline-success btn-search" type="submit"><i class="fa fa-search"></i></button>
</form>
{% endblock navbar_search %}
{% block content %}

<!-- products -->
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Products</h2>
                </div>
            </div>
        </div>
        <div class="row" id="productsRowContainer">
            <div class="col-md-12">
                <div class="product-container">
                    <div class="row" id="productsRow">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button id="previousButton" class="previous" disabled>&laquo; Previous</button>
        <button id="nextButton" class="next" disabled>Next &raquo;</button>
    </div>
</div>


<style>
    /* Products CSS */
    .product_box {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .product_box img {
        max-height: 200px;
        width: auto;
        margin: 0 auto 10px;
    }

    .product_name {
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: #f0f0f0;
        text-align: center;
        text-decoration: none;
    }

    /* Pagination Buttons CSS */
    .button-container {
        text-align: center;
        margin-top: 20px;
    }

    .previous,
    .next {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: #48ca95;
    }
    .previous {
        background-color:#f1f1f1; 
    }

    .previous:hover,
    .next:hover {
        background-color: #ddd;
    }

    .previous:disabled,
    .next:disabled {
        background-color: #f1f1f1;
        color: #888;
        cursor: not-allowed;
    }
</style>

<!-- Javascript files-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- end products -->

<script>
    let currentPage = 1;
    let totalPages = 1;

    function fetchProducts(page) {
        
        fetch('/api' + window.location.pathname + `?page=${page}`)

            .then(response => response.json())
            .then(data => {
                const productsRow = document.getElementById('productsRow');
                productsRow.innerHTML = ''; 

                data.results.forEach(product => {
                    const colDiv = document.createElement('div');
                    colDiv.classList.add('col-md-4', 'margin_bottom1');

                    const productBox = document.createElement('div');
                    productBox.classList.add('product_box');

                    const figure = document.createElement('figure');
                    const img = document.createElement('img');
                    img.src = product.image;
                    img.alt = product.name;
                    figure.appendChild(img);

                    const productNameLink = document.createElement('a');
                    productNameLink.textContent = product.name;
                    productNameLink.href = `/products/${product.slug}`;
                    productNameLink.classList.add('product_name');

                    productBox.appendChild(figure);
                    productBox.appendChild(productNameLink);

                    colDiv.appendChild(productBox);
                    productsRow.appendChild(colDiv);
                });

                currentPage = page;
                totalPages = Math.ceil(data.count / data.results.length);

                updatePaginationButtons();
            })
            .catch(err => {
                console.error('Error fetching products data:', err);
            });
    }
    
    function updatePaginationButtons() {
        const previousButton = document.getElementById('previousButton');
        const nextButton = document.getElementById('nextButton');

        previousButton.disabled = (currentPage === 1);

        nextButton.disabled = (currentPage === totalPages);

        previousButton.addEventListener('click', () => {
            fetchProducts(currentPage - 1); 
        });

        nextButton.addEventListener('click', () => {
            fetchProducts(currentPage + 1); 
        });
    }

    fetchProducts(currentPage);




    function searchProducts(query) {
        fetch(`/api/product/search/?search=${query}`)
            .then(response => response.json())
            .then(data => {
                const productsRow = document.getElementById('productsRow');
                productsRow.innerHTML = ''; 
    
                data.results.forEach(product => {
                    const colDiv = document.createElement('div');
                    colDiv.classList.add('col-md-4', 'margin_bottom1');
    
                    const productBox = document.createElement('div');
                    productBox.classList.add('product_box');
    
                    const figure = document.createElement('figure');
                    const img = document.createElement('img');
                    img.src = product.image;
                    img.alt = product.name;
                    figure.appendChild(img);
    
                    const productNameLink = document.createElement('a');
                    productNameLink.textContent = product.name;
                    productNameLink.href = `/products/${product.slug}`;
                    productNameLink.classList.add('product_name');
    
                    productBox.appendChild(figure);
                    productBox.appendChild(productNameLink);
    
                    colDiv.appendChild(productBox);
                    productsRow.appendChild(colDiv);
                });
    
                currentPage = 1;
                totalPages = Math.ceil(data.count / data.results.length);
                updatePaginationButtons();
            })
            .catch(err => {
                console.error('Error fetching products data:', err);
            });
    }
    
    // Event listener for form submission
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
    
        const searchInput = document.getElementById('gsearch');
        const query = searchInput.value.trim(); // Get the search query
    
        // Fetch products based on the search query
        searchProducts(query);
    });
    
    // Initial fetch of products when page loads
    searchProducts('');
</script>

{% endblock content %}